{% extends 'personas/base.html' %}

{% block title %}
  Detalle del Contacto
{% endblock %}

<!-- Detalles completos -->

{% block content %}
  <h1 class="text-2xl font-bold mb-4">Detalle del Contacto</h1>
  <div class="bg-white p-4 rounded shadow">
    <h2 class="text-xl font-bold">{{ contacto.nombre }}</h2>
    <p class="mt-2">Teléfono: {{ contacto.telefono }}</p>
    <p class="mt-2">Correo: {{ contacto.correo }}</p>
    <p class="mt-2">Dirección: {{ contacto.direccion }}</p>
    <a href="{% url 'lista_contactos' %}" class="hover:scale-105 transition-all ease-in mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded">Volver a la lista</a>
  </div>
{% endblock %}